@charset "utf-8";

.inner {max-width:1280px; margin: 0 auto;}
section {height: 100vh;}
.ylw_btn {display: inline-block; height: 50px; padding: 0 30px; background-color:#fdd000; line-height: 50px; margin-top: 30px;} /* 노란버튼 */
::selection {background-color: #fdd000;} /* 텍스트 드래그 배경 컬러 */

/* 헤더------------------------------------------------------------ */
/* pc_header */
header {position: fixed; width: 100%; height: 104px; transition: all 0.2s; z-index: 998;}
header:hover {background: #fff;}
header.down{height: 320px; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;} /* lnb 슬라이드 될시 뒷 배경 */
header.scroll {background: #fff; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;} /* 헤더 스크롤 이벤트 */
/* nav */
header nav {display:flex; justify-content: space-between; align-items:center;}
/* 로고 */
header nav .logo {display: block; background: url(../img/logo.png) no-repeat center / cover; width: 200px; height: 41px;} 
/* //로고 */
/* gnb */
header nav .gnb {width: 53.13%; height: 100%; display: flex; justify-content: space-between; position: relative;}
/* depth1 */
header nav .gnb .depth1 {width:calc(100%/6); height:100%;}
header nav .gnb .depth1 > span{display: block; width: 100%; position: relative;}

header nav .gnb .depth1 > span::before{position: absolute; content: ''; bottom: 0; left: 50%; width: 0; height: 1px; background: #000; transition: all 0.3s;}
header nav .gnb .depth1 > span::after{position: absolute; content: ''; bottom: 0; right: 50%; width: 0; height: 1px; background: #000; transition: all 0.3s;}

header nav .gnb .depth1 > a {display: block; width:100%; text-align: center;}
header nav .gnb .depth1 > a:first-child {height:100%; line-height: 104px; font-size: 1.12rem; font-weight: 500;}
header nav .gnb .depth1:hover{background: #fdd000;}
header nav .gnb .depth1:hover .lnb {background: #fdd000;} /* lnb */
header nav .gnb .depth1:hover > span::before {width: 25%;}
header nav .gnb .depth1:hover > span::after {width: 25%;}
/* //depth1 */
/* depth2 */
header nav .gnb .depth1 .lnb {display: none; position: absolute; width: calc(100%/6); height:216px; top: 104px;}
header nav .gnb .depth1 .lnb .depth2 {width: 100%; padding: 10px 0; text-align: center;}
header nav .gnb .depth1 .lnb .depth2 > a {display: inline-block; position: relative;}
header nav .gnb .depth1 .lnb .depth2 > a:before{position: absolute; content: ''; bottom: 0; left: 0; width: 100%; height: 0; background: #000;}
header nav .gnb .depth1 .lnb .depth2 > a:hover:before {height: 1px;}
/* //depth2 */
/* sns_btn */
header nav .sns_box {display: flex; justify-content: space-between; align-items: center;}
header nav .sns_box > a {display: block; background: no-repeat center / 32px; width: 39px; height:39px; border: 2px solid #000; border-radius: 50%; margin-left: 8px;}
header nav .sns_box .blog{background-image: url(../img/sns_blog.png);}
header nav .sns_box .facebook{background-image: url(../img/sns_facebook.png);}
header nav .sns_box .insta{background-image: url(../img/sns_instagram.png);}
header nav .sns_box .store{background-image: url(../img/sns_smartstore.png);}
header nav .sns_box > a:hover{background-color: #fdd000; border-color:#fdd000;}
/* 모바일 gnb_btn */
.gnb_btn {border: none; width: 22px; height: 16px;}
.gnb_btn > span {display: block; width: 22px; height: 2px; background: #000; margin-bottom: 5px; transition: all 0.3s;}
.gnb_btn > span:last-child {margin-bottom: 0;}
.gnb_btn:hover {background-color: transparent;}
/* //모바일 gnb_btn */
/* //sns_btn */
.m_gnb, .gnb_btn {display: none;} /* 모바일에서 나타남 */
/* //pc_header */

/* 허더 반응형 1280 사이즈 */
@media screen and (max-width: 1280px) {
  /* m_header */
  header {height: 71px;}
  header nav {width: 100%; padding: 0 2%; box-sizing: border-box; height: 100%;}
  header nav .gnb {display: none;}
  .gnb_btn {display: block; position: fixed; top: 26px; right: 2%; z-index: 1000;}
  .gnb_btn.on span {background: #fff;}
  .gnb_btn.on span:nth-child(2) {opacity: 0;}
  .gnb_btn.on span:nth-child(1) {transform: rotate(-45deg) translate(-5px, 5px);}
  .gnb_btn.on span:nth-child(3) {transform: rotate(45deg) translate(-5px, -5px);}
  header nav .sns_box {padding-right: 32px;}
  /* m_gnb */
  .m_gnb {display: block; position: fixed; top: 0; right: -100%; width: 100%; height: 100%; background: #222222; z-index: 999; padding: 4.68%; box-sizing: border-box; overflow-y: auto; transition: all 0.3s;}
  .m_gnb.on {right: 0;}
  /* 로고 */
  .m_gnb .m_gnb_logo {background: url(../img/logo_w.png) no-repeat center/cover;  width: 200px; height: 42px; margin: 0 auto;} 
  /* 로고 */
  /* gnb */
  .m_gnb .m_gnb_box {width: 100%; display: flex; border-bottom: 1px solid rgba(255,255,255,0.1); padding: 30px 0;}
  .m_gnb .m_gnb_box .m_gnb_title {width: 200px;}
  .m_gnb .m_gnb_box .m_gnb_title > a {display: inline-block; color: #fff;}
  .m_gnb .m_gnb_box .m_gnb_dep >li > a {display: inline-block; color: #aaaaaa; margin-bottom: 15px; position: relative;}
  .m_gnb .m_gnb_box .m_gnb_dep > li:last-child > a{margin-bottom: 0;}
  .m_gnb .m_gnb_box .m_gnb_dep > li > a:before {position: absolute; content:''; bottom:0; left: 0; width:100%; height:0; background: #fff;}
  .m_gnb .m_gnb_box .m_gnb_dep > li > a:hover {color:#fff;}
  .m_gnb .m_gnb_box .m_gnb_dep > li > a:hover:before {height:1px;}
  /* 스크롤 커스텀 */
  .m_gnb::-webkit-scrollbar {width: 5px; background: #EEEEEE;}
  .m_gnb::-webkit-scrollbar-thumb {background: #FDD000;}
  /* 스크롤 커스텀 */
  /* m_gnb */
  /* //m_header */
}
/* 허더 반응형 1280 사이즈 */

/* 헤더 반응형 800 사이즈 */
@media screen and (max-width: 800px) {
  header {height: 60px;}
  header nav .logo {width: 150px; height: 31px;}

  .gnb_btn {top: 22px; right: 2%;}

  header nav .sns_box {display: none;}

  /* m_gnb */
  .m_gnb {top: 0; width: 240px; padding: 15% 5%; box-sizing: border-box; overflow-x: hidden;}
  /* 로고 */
  .m_gnb .m_gnb_logo {width: 175px; height: 32px; margin-bottom: 30px;} 
  /* 로고 */
  /* gnb */
  .m_gnb .m_gnb_box {display: block; border: none; padding: 0; margin-bottom: 30px;}
  .m_gnb .m_gnb_box .m_gnb_title {width: 100%;}
  .m_gnb .m_gnb_box .m_gnb_title > a {display: block; margin-bottom: 15px; font-size:1rem;} 

  .m_gnb .m_gnb_box .m_gnb_dep {display: none; margin-bottom: 30px;}
  .m_gnb .m_gnb_box .m_gnb_dep.down {display: block;}
  .m_gnb .m_gnb_box .m_gnb_dep >li > a {display: block; margin-bottom: 10px; font-size: 0.75rem}
  .m_gnb .m_gnb_box .m_gnb_dep > li > a:hover:before {height:0;}
  /* m_gnb */
}
/* 헤더 반응형 800 사이즈 */
/* //헤더---------------------------------------------------------- */


/* visual---------------------------------------------------------- */
/* dots커스텀 */
.slick-dots {bottom: 10px; text-align: center;}
.slick-dots li {display: inline-block; margin: 0 5px;}
.slick-dots li.slick-active {margin-right: 30px;  }
.slick-dots li button {background-color: rgba(255, 255, 255, 0.7); border: none; border-radius: 5px; width: 25px; height: 10px; padding: 0; cursor: pointer;}
.slick-dots li button:before{content: '';}
  .slick-dots li.slick-active button {width: 50px; background-color: #fff;}
  /* dots커스텀 */
  /* visual 이미지 */
#main_visual .slick_visual {position:relative;}
#main_visual .slick_visual .visual {height: 100vh; background: no-repeat center/ 100% 115%;}
#main_visual .slick_visual .visual1 {background-image: url(../img/pc_visual1.jpg);}
#main_visual .slick_visual .visual2 {background-image: url(../img/pc_visual2.jpg);}
#main_visual .slick_visual .visual3 {background-image: url(../img/pc_visual3.jpg);}
#main_visual .slick_visual .visual4 {background-image: url(../img/pc_visual4.jpg);}
#main_visual .slick_visual .visual5 {background-image: url(../img/pc_visual5.jpg);}
#main_visual .slick_visual .visual6 {background-image: url(../img/pc_visual6.jpg);}
  /* visual 이미지 */

  /* drag */
  #main_visual .scroll {position: relative; bottom: 30px; animation: scrollDown 1.5s ease-in-out infinite;}
  @keyframes scrollDown {
    0% {
      transform: translateY(0); /* 시작 위치 */
      opacity: 1;
  }
  50% {
      transform: translateY(10px); /* 중간 위치 */
      opacity: 0.2;
  }
  100% {
      transform: translateY(0); /* 끝 위치 */
      opacity: 1;
  }
  }

  #main_visual .scroll .mouse {display: block; position: absolute; width: 25px; height: 50px; bottom: 100px; left: 50%; transform: translateX(-50%); border: 2px solid #fff; border-radius: 25px; box-sizing: border-box;} 
  #main_visual .scroll .wheel {display: block; position: absolute; width: 5px; transform: translate(-50%); height: 10px; background: #fff;bottom: 130px; left: 50%; border-radius: 5px; animation: wheel 2s ease-in-out infinite;}
  @keyframes wheel {
    0% {
      transform: translate(-2.5px, 0); /* 시작 위치 */
    }
    50% {
      transform: translate(-2.5px, 20px); /* 중간 위치 */
    }
    100% {
      transform: translate(-2.5px, 0); /* 끝 위치 */ 
    }
  }
  #main_visual .scroll .scroll_text {display: block; position: absolute; bottom: 70px; left: 50%; transform: translateX(-50%); color: #fff;}
  /* drag */
  /* //visual---------------------------------------------------------------------- */

  /* section01------------------------------------------------------------------------- */
#section01 {display: flex; overflow: hidden;}
/* left_text */
#section01 .left_text {width: 50%; box-sizing: border-box; position: relative;}
#section01 .left_text .layer01 {position: absolute; top: 170px; right: 5px;}
#section01 .left_text .layer01 p:first-child {margin-bottom: 30px; font-weight: 300; color: #444444; word-break: keep-all;}
#section01 .left_text .layer01 h1 {margin-bottom: 30px; word-break: keep-all;}
#section01 .left_text .layer01 h1 > span {display: block; background:#FDD000;}
#section01 .left_text .layer01 p:nth-of-type(2) {margin-bottom: 20px; word-break: keep-all;}
#section01 .left_text .layer01 p:nth-of-type(3) {line-height: 1.5; font-weight: 300; color: #444444; word-break: keep-all;}
/* left_text */

/* right_content */
#section01 .right_content {width: 50%;}
#section01 .right_content .swiper_content {width:870px;  margin: 170px 0 0 80px;}
#section01 .right_content .swiper_content .swiper-wrapper {margin-left: 5px;}
#section01 .right_content .swiper_content .swiper-wrapper .swiper-slide {width: 418px; overflow: hidden;}
/* 슬라이더 빈공간 */
#section01 .right_content .swiper_content .swiper-wrapper .swiper-slide:nth-child(8) .pc_card,
#section01 .right_content .swiper_content .swiper-wrapper .swiper-slide:nth-child(9) .pc_card {border: none;}
#section01 .right_content .swiper_content .swiper-wrapper .swiper-slide:nth-child(8) .pc_card .pc_card_txt_box,
#section01 .right_content .swiper_content .swiper-wrapper .swiper-slide:nth-child(9) .pc_card .pc_card_txt_box {background: none;}
/* 슬라이더 빈공간 */
#section01 .right_content .swiper_content .swiper-wrapper .swiper-slide .pc_card {margin-top: 186px; width: 100%; border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 15px; box-sizing: border-box;}
#section01 .right_content .swiper_content .swiper-wrapper .swiper-slide .pc_card figure {width: 100%; height: auto;}
#section01 .right_content .swiper_content .swiper-wrapper .swiper-slide .pc_card figure > img {width: 100%; border-radius: 15px;}
#section01 .right_content .swiper_content .swiper-wrapper .swiper-slide .pc_card .pc_card_txt_box {display: none; width: 100%; background: #F4F6F8; padding: 30px; box-sizing: border-box; border-radius:0 0 15px 15px;}
#section01 .right_content .swiper_content .swiper-wrapper .swiper-slide .pc_card .pc_card_txt_box .pc_card_tit {margin-bottom: 5px; word-break: keep-all;}
#section01 .right_content .swiper_content .swiper-wrapper .swiper-slide .pc_card .pc_card_txt_box .pc_card_txt {margin-bottom: 20px; color: rgba(0, 0, 0, 0.5); font-weight:300; word-break: keep-all; 
overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; line-height: 1.5;}
#section01 .right_content .swiper_content .swiper-wrapper .swiper-slide .pc_card .pc_card_txt_box .pc_card_txt:last-child {margin-bottom: 0;}

#section01 .right_content .swiper_content .swiper-wrapper .swiper-slide.swiper-slide-active .pc_card {margin-top: 0;}
#section01 .right_content .swiper_content .swiper-wrapper .swiper-slide.swiper-slide-active .pc_card .pc_card_txt_box {display: block;}

#section01 .right_content .swiper_content .swiper-button-next {position: absolute; top: 20%; right: 38%;}
#section01 .right_content .swiper_content .swiper-button-next:after {font-size: 70px; color: rgba(0, 0, 0, 0.3);}
#section01 .right_content .swiper_content .swiper-button-next:hover:after {color: #333;}
#section01 .right_content .swiper_content .swiper-button-prev {position: absolute; top: 20%; left: 50%;}
#section01 .right_content .swiper_content .swiper-button-prev:after {font-size: 70px; color: rgba(0, 0, 0, 0.3);}
#section01 .right_content .swiper_content .swiper-button-prev:hover:after {color: #333;}
/* right_content */

/* section01 반응형 1280사이즈 */
@media screen and (max-width: 1280px) {
  /* left_text */
  #section01 .left_text .layer01 {top: 15%; right: 14.5%;}
  #section01 .left_text .layer01 p:first-child {font-size: 1.25rem;}
  #section01 .left_text .layer01 h1 {font-size: 2.18rem}
  #section01 .left_text .layer01 p:nth-of-type(2) {font-size: 1.125rem}
  #section01 .left_text .layer01 p:nth-of-type(3) {font-size: 0.875rem}
/* left_text */

/* right_content */
#section01 .right_content .swiper_content {margin: 17.5% 0 0 10.5%;}

#section01 .right_content .swiper_content .swiper-wrapper .swiper-slide .pc_card {margin-top: 170px;}
#section01 .right_content .swiper_content .swiper-wrapper .swiper-slide .pc_card .pc_card_txt_box .pc_card_tit {font-size: 1.125rem}
#section01 .right_content .swiper_content .swiper-wrapper .swiper-slide .pc_card .pc_card_txt_box .pc_card_txt {font-size: 0.875rem}

#section01 .right_content .swiper_content .swiper-button-next {display: none;}
#section01 .right_content .swiper_content .swiper-button-prev {display: none;}
/* right_content */
}
/* section01 반응형 1280사이즈 */
  /* //section01------------------------------------------------------------------------- */